.clearfix
    clearfix()

for row in 1 .. 15
    .margin-top-{row}
        margin-top 10px * row
for row in 1 .. 15
    .padding-bottom-{row}
        padding-bottom 10px * row
for row in 1 .. 15
    .padding-left-{row}
        padding-left 10px * row