// HEADINGS

.heading-2
    font-size 21px

.heading-3
    font-size 14px

// FORMATTING

.capitalize
    text-transform capitalize
.no-overflow
    overflow hidden

.paragraph
    margin .8em 0
    font-size 14px
    line-height 24px
    letter-spacing -1px
    color rgb(99,111,111)

.link
    color rgb(239,111,83)
    &:hover
        text-decoration underline

// COLORS

.white
    color rgb(255,255,255)
    