.input
	vertical-align top
	margin 0
	padding 4px 0 5px 10px
	background rgb(26,26,26)
	border none

.search-btn
	appearance none
	display inline-block
	width 25px
	height 25px
	background url(../img/icons/search.gif) 0 0 rgb(239, 111, 83)
	border none