// this is an unordered list with custom markers

.list
    display block
    list-style none
    padding 0
    font-size 14px
    line-height 24px
    &__item
        padding 0 0 0 10px
        background url("../img/icons/marker-1.gif") no-repeat
        background-position 0 0.65em